.space {
    width: 32px;
    height: 32px;
    background-color: orange;
    /* border: 5px solid black; */
    outline:1px solid black;
}
.row {
    display: flex;
}
.food {
    background-color: green;
}
.active {
    background-color: blue;
}
.Announcement { 
    position: fixed;
    top: 70px;
    left: 30px; 
    /* width: 220px; */
    /* height: 40px; */
    background-color: rgba(255, 255, 255, 0.8);
}
.outOfBounds {
    background-color: red;
}
