.space {
    width: 32px;
    height: 32px;
    background-color: orange;
    /* border: 5px solid black; */
    outline:1px solid black;
}
.row {
    display: flex;
}
.food {
    background-color: green;
}
.you {
    background-color: blue;
}
.enemy {
    background-color: purple;
}
.Announcement { 
    position: fixed;
    top: 0vh;
    left: 0vw; 
    /* width: 220px; */
    /* height: 40px; */
    background-color: rgba(255, 255, 255, 0.8);
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid green;
    border-right: 5px solid yellow;
}

.outcome {
    background-color: yellow;
    text-align: center;
    margin: 0;

}
.outOfBounds {
    background-color: red;
}
